
h1, h2, h3, h4, h5, h6, th, .figure-caption, .fs-card-title, .fs-card-content, .card-description {
    font-family: $font-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $lh-heading;
    font-weight: 600;
    color: $text-primary;
}

p, li, tr, td {
    font-family: $font-serif;
    color: $text-secondary;
}

.fs-main-title {
    font-size: $fs-main-title;
    line-height: 1.2;
    font-weight: 700;
    color: $text-primary;
}

.fs-card-title {
    font-size: $fs-h3;
    color: $text-primary;
}

.fs-card-content {
    font-size: $fs-code;
    line-height: $lh-body;
    color: $text-secondary;
}

a{
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p{
    font-family: $font-serif;
    color: $text-secondary;
    margin-bottom: 1.3rem;
}

pre, code {
    font-family: $font-monospace;
    font-size: $fs-code;
}

pre {
    background: $code-bg;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    line-height: 1.5;
}

.detail{
    font-size: 0.9rem;
}
.lead {
    font-size: 1rem;
    font-weight: 300;
}

.font-size-obsevation {
    font-size: 0.8rem;
} 